FactuSax/Web References/WebService_Timbres/Timbres.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://localhost/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <s:element name="ConsultarTimbres">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rfc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarTimbresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConsultarTimbresResult" type="tns:Timbres" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Timbres">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RFC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Contratadas" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Emisiones" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Canceladas" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalConsumidas" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Disponibles" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="GuardarTimbre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rfc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="movimiento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="valor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarTimbreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GuardarTimbreResult" type="tns:Timbres" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarTimbresSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarTimbres" />
  </wsdl:message>
  <wsdl:message name="ConsultarTimbresSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarTimbresResponse" />
  </wsdl:message>
  <wsdl:message name="GuardarTimbreSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarTimbre" />
  </wsdl:message>
  <wsdl:message name="GuardarTimbreSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarTimbreResponse" />
  </wsdl:message>
  <wsdl:portType name="TimbresSoap">
    <wsdl:operation name="ConsultarTimbres">
      <wsdl:input message="tns:ConsultarTimbresSoapIn" />
      <wsdl:output message="tns:ConsultarTimbresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarTimbre">
      <wsdl:input message="tns:GuardarTimbreSoapIn" />
      <wsdl:output message="tns:GuardarTimbreSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TimbresSoap" type="tns:TimbresSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarTimbres">
      <soap:operation soapAction="http://localhost/ConsultarTimbres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarTimbre">
      <soap:operation soapAction="http://localhost/GuardarTimbre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TimbresSoap12" type="tns:TimbresSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarTimbres">
      <soap12:operation soapAction="http://localhost/ConsultarTimbres" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarTimbre">
      <soap12:operation soapAction="http://localhost/GuardarTimbre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Timbres">
    <wsdl:port name="TimbresSoap" binding="tns:TimbresSoap">
      <soap:address location="http://74.208.239.165/WebService_Timbres/Timbres.asmx" />
    </wsdl:port>
    <wsdl:port name="TimbresSoap12" binding="tns:TimbresSoap12">
      <soap12:address location="http://74.208.239.165/WebService_Timbres/Timbres.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>