FactuSax/Web References/xpdPruebas4_0/TimbradoWSSoapSingle.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://service.timbrado.xpd.mx/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="TimbradoWSSoapSingle" targetNamespace="http://service.timbrado.xpd.mx/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://www.sat.gob.mx/esquemas/retencionpago/2" xmlns:retenciones="http://www.sat.gob.mx/esquemas/retencionpago/2" xmlns:ns1="http://www.sat.gob.mx/TimbreFiscalDigital" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.sat.gob.mx/esquemas/retencionpago/2" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.sat.gob.mx/TimbreFiscalDigital" />
      <xs:element name="Retenciones" type="retenciones:retenciones" />
      <xs:complexType name="retenciones">
        <xs:sequence>
          <xs:element minOccurs="0" name="CfdiRetenRelacionados" type="retenciones:cfdiRetenRelacionados" />
          <xs:element minOccurs="0" name="Emisor" type="retenciones:emisor" />
          <xs:element minOccurs="0" name="Receptor" type="retenciones:receptor" />
          <xs:element minOccurs="0" name="Periodo" type="retenciones:periodo" />
          <xs:element minOccurs="0" name="Totales" type="retenciones:totales" />
          <xs:element minOccurs="0" name="Complemento" type="retenciones:complemento" />
        </xs:sequence>
        <xs:attribute name="Certificado" type="xs:string" />
        <xs:attribute name="CveRetenc" type="xs:string" />
        <xs:attribute name="DescRetenc" type="xs:string" />
        <xs:attribute name="FechaExp" type="xs:string" />
        <xs:attribute name="FolioInt" type="xs:string" />
        <xs:attribute name="LugarExpRetenc" type="xs:string" />
        <xs:attribute name="NoCertificado" type="xs:string" />
        <xs:attribute name="Sello" type="xs:string" />
        <xs:attribute name="Version" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="cfdiRetenRelacionados">
        <xs:sequence />
        <xs:attribute name="TipoRelacion" type="xs:string" />
        <xs:attribute name="UUID" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="emisor">
        <xs:sequence />
        <xs:attribute name="NomDenRazSocE" type="xs:string" />
        <xs:attribute name="RegimenFiscalE" type="xs:string" />
        <xs:attribute name="RfcE" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="receptor">
        <xs:sequence>
          <xs:element minOccurs="0" name="Extranjero" type="retenciones:extranjero" />
          <xs:element minOccurs="0" name="Nacional" type="retenciones:nacional" />
        </xs:sequence>
        <xs:attribute name="NacionalidadR" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="extranjero">
        <xs:sequence />
        <xs:attribute name="NomDenRazSocR" type="xs:string" />
        <xs:attribute name="NumRegIdTribR" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="nacional">
        <xs:sequence />
        <xs:attribute name="CurpR" type="xs:string" />
        <xs:attribute name="DomicilioFiscalR" type="xs:string" />
        <xs:attribute name="NomDenRazSocR" type="xs:string" />
        <xs:attribute name="RfcR" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="periodo">
        <xs:sequence />
        <xs:attribute name="Ejercicio" type="xs:string" />
        <xs:attribute name="MesFin" type="xs:string" />
        <xs:attribute name="MesIni" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="totales">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ImpRetenidos" type="retenciones:impRetenidos" />
        </xs:sequence>
        <xs:attribute name="ISRCorrespondiente" type="xs:string" />
        <xs:attribute name="MontoTotExent" type="xs:string" />
        <xs:attribute name="MontoTotGrav" type="xs:string" />
        <xs:attribute name="MontoTotOperacion" type="xs:string" />
        <xs:attribute name="MontoTotRet" type="xs:string" />
        <xs:attribute name="UtilidadBimestral" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="impRetenidos">
        <xs:sequence />
        <xs:attribute name="BaseRet" type="xs:string" />
        <xs:attribute name="ImpuestoRet" type="xs:string" />
        <xs:attribute name="MontoRet" type="xs:string" />
        <xs:attribute name="TipoPagoRet" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="complemento">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:TimbreFiscalDigital" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:cfdi="http://www.sat.gob.mx/cfd/4" xmlns:tns="http://www.sat.gob.mx/cfd/4" xmlns:ns1="http://www.sat.gob.mx/TimbreFiscalDigital" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.sat.gob.mx/cfd/4" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.sat.gob.mx/TimbreFiscalDigital" />
      <xs:element name="Comprobante" type="tns:comprobante" />
      <xs:complexType name="comprobante">
        <xs:sequence>
          <xs:element minOccurs="0" name="InformacionGlobal" type="tns:informacionGlobal" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="CfdiRelacionados" type="tns:cfdiRelacionados" />
          <xs:element minOccurs="0" name="Emisor" type="tns:emisor" />
          <xs:element minOccurs="0" name="Receptor" type="tns:receptor" />
          <xs:element minOccurs="0" name="Conceptos" type="tns:conceptos" />
          <xs:element minOccurs="0" name="Impuestos" type="tns:impuestos" />
          <xs:element minOccurs="0" name="Complemento" type="tns:complemento" />
        </xs:sequence>
        <xs:attribute name="Certificado" type="xs:string" />
        <xs:attribute name="CondicionesDePago" type="xs:string" />
        <xs:attribute name="Confirmacion" type="xs:string" />
        <xs:attribute name="Descuento" type="xs:string" />
        <xs:attribute name="Exportacion" type="xs:string" />
        <xs:attribute name="Fecha" type="xs:string" />
        <xs:attribute name="Folio" type="xs:string" />
        <xs:attribute name="FormaPago" type="xs:string" />
        <xs:attribute name="LugarExpedicion" type="xs:string" />
        <xs:attribute name="MetodoPago" type="xs:string" />
        <xs:attribute name="Moneda" type="xs:string" />
        <xs:attribute name="NoCertificado" type="xs:string" />
        <xs:attribute name="Sello" type="xs:string" />
        <xs:attribute name="Serie" type="xs:string" />
        <xs:attribute name="SubTotal" type="xs:string" />
        <xs:attribute name="TipoCambio" type="xs:string" />
        <xs:attribute name="TipoDeComprobante" type="xs:string" />
        <xs:attribute name="Total" type="xs:string" />
        <xs:attribute name="Version" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="informacionGlobal">
        <xs:sequence />
        <xs:attribute name="Anio" type="xs:string" />
        <xs:attribute name="Meses" type="xs:string" />
        <xs:attribute name="Periodicidad" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="cfdiRelacionados">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="CfdiRelacionado" type="tns:cfdiRelacionado" />
        </xs:sequence>
        <xs:attribute name="TipoRelacion" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="cfdiRelacionado">
        <xs:sequence />
        <xs:attribute name="UUID" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="emisor">
        <xs:sequence />
        <xs:attribute name="FacAtrAdquirente" type="xs:string" />
        <xs:attribute name="Nombre" type="xs:string" />
        <xs:attribute name="RegimenFiscal" type="xs:string" />
        <xs:attribute name="Rfc" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="receptor">
        <xs:sequence />
        <xs:attribute name="DomicilioFiscalReceptor" type="xs:string" />
        <xs:attribute name="Nombre" type="xs:string" />
        <xs:attribute name="NumRegIdTrib" type="xs:string" />
        <xs:attribute name="RegimenFiscalReceptor" type="xs:string" />
        <xs:attribute name="ResidenciaFiscal" type="xs:string" />
        <xs:attribute name="Rfc" type="xs:string" />
        <xs:attribute name="UsoCFDI" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="conceptos">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Concepto" type="tns:concepto" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="concepto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Impuestos" type="tns:impuestosConcepto" />
          <xs:element minOccurs="0" name="ACuentaTerceros" type="tns:aCuentaTerceros" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="InformacionAduanera" type="tns:informacionAduanera" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="CuentaPredial" type="tns:cuentaPredial" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Parte" type="tns:parte" />
        </xs:sequence>
        <xs:attribute name="Cantidad" type="xs:string" />
        <xs:attribute name="ClaveProdServ" type="xs:string" />
        <xs:attribute name="ClaveUnidad" type="xs:string" />
        <xs:attribute name="Descripcion" type="xs:string" />
        <xs:attribute name="Descuento" type="xs:string" />
        <xs:attribute name="Importe" type="xs:string" />
        <xs:attribute name="NoIdentificacion" type="xs:string" />
        <xs:attribute name="ObjetoImp" type="xs:string" />
        <xs:attribute name="Unidad" type="xs:string" />
        <xs:attribute name="ValorUnitario" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="impuestosConcepto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Traslados" type="tns:traslados" />
          <xs:element minOccurs="0" name="Retenciones" type="tns:retenciones" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="traslados">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Traslado" type="tns:traslado" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="traslado">
        <xs:sequence />
        <xs:attribute name="Base" type="xs:string" />
        <xs:attribute name="Importe" type="xs:string" />
        <xs:attribute name="Impuesto" type="xs:string" />
        <xs:attribute name="TasaOCuota" type="xs:string" />
        <xs:attribute name="TipoFactor" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="retenciones">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Retencion" type="tns:retencion" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retencion">
        <xs:sequence />
        <xs:attribute name="Base" type="xs:string" />
        <xs:attribute name="Importe" type="xs:string" />
        <xs:attribute name="Impuesto" type="xs:string" />
        <xs:attribute name="TasaOCuota" type="xs:string" />
        <xs:attribute name="TipoFactor" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="aCuentaTerceros">
        <xs:sequence />
        <xs:attribute name="DomicilioFiscalACuentaTerceros" type="xs:string" />
        <xs:attribute name="NombreACuentaTerceros" type="xs:string" />
        <xs:attribute name="RegimenFiscalACuentaTerceros" type="xs:string" />
        <xs:attribute name="RfcACuentaTerceros" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="informacionAduanera">
        <xs:sequence />
        <xs:attribute name="NumeroPedimento" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="cuentaPredial">
        <xs:sequence />
        <xs:attribute name="Numero" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="parte">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="InformacionAduanera" type="tns:informacionAduanera" />
        </xs:sequence>
        <xs:attribute name="Cantidad" type="xs:string" />
        <xs:attribute name="ClaveProdServ" type="xs:string" />
        <xs:attribute name="Descripcion" type="xs:string" />
        <xs:attribute name="Importe" type="xs:string" />
        <xs:attribute name="NoIdentificacion" type="xs:string" />
        <xs:attribute name="Unidad" type="xs:string" />
        <xs:attribute name="ValorUnitario" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="impuestos">
        <xs:sequence>
          <xs:element minOccurs="0" name="Retenciones" type="tns:retenciones" />
          <xs:element minOccurs="0" name="Traslados" type="tns:traslados" />
        </xs:sequence>
        <xs:attribute name="TotalImpuestosRetenidos" type="xs:string" />
        <xs:attribute name="TotalImpuestosTrasladados" type="xs:string" />
      </xs:complexType>
      <xs:complexType name="complemento">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:TimbreFiscalDigital" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tfd="http://www.sat.gob.mx/TimbreFiscalDigital" xmlns:tns="http://www.sat.gob.mx/TimbreFiscalDigital" elementFormDefault="qualified" targetNamespace="http://www.sat.gob.mx/TimbreFiscalDigital" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="TimbreFiscalDigital" type="tns:timbreFiscalDigital" />
      <xs:complexType name="timbreFiscalDigital">
        <xs:sequence />
        <xs:attribute name="Version" type="xs:string" />
        <xs:attribute name="UUID" type="xs:string" />
        <xs:attribute name="FechaTimbrado" type="xs:string" />
        <xs:attribute name="RfcProvCertif" type="xs:string" />
        <xs:attribute name="Leyenda" type="xs:string" />
        <xs:attribute name="SelloCFD" type="xs:string" />
        <xs:attribute name="NoCertificadoSAT" type="xs:string" />
        <xs:attribute name="SelloSAT" type="xs:string" />
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ns2="http://www.sat.gob.mx/esquemas/retencionpago/2" xmlns:ns1="http://www.sat.gob.mx/cfd/4" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.timbrado.xpd.mx/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.sat.gob.mx/cfd/4" />
      <xs:import namespace="http://www.sat.gob.mx/esquemas/retencionpago/2" />
      <xs:element name="ResponseTimbrar" type="tns:responseTimbrar" />
      <xs:element name="ResponseTimbrarSingle" type="tns:responseTimbrarSingle" />
      <xs:element name="ResponseValidar" type="tns:responseValidar" />
      <xs:element name="timbrar" type="tns:timbrar" />
      <xs:element name="timbrarResponse" type="tns:timbrarResponse" />
      <xs:element name="validar" type="tns:validar" />
      <xs:element name="validarResponse" type="tns:validarResponse" />
      <xs:complexType name="validar">
        <xs:sequence>
          <xs:element name="usuario" type="xs:string" />
          <xs:element name="contrasena" type="xs:string" />
          <xs:element name="cfdi" type="xs:base64Binary" />
          <xs:element name="isEstatusSat" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="validarResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:responseValidar" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="responseValidar">
        <xs:sequence>
          <xs:element minOccurs="0" name="transaccion" type="xs:string" />
          <xs:element minOccurs="0" name="codigo" type="xs:string" />
          <xs:element minOccurs="0" name="mensaje" type="xs:string" />
          <xs:element minOccurs="0" name="hash" type="xs:string" />
          <xs:element minOccurs="0" name="cadenaOriginal" type="xs:string" />
          <xs:element minOccurs="0" name="uuid" type="xs:string" />
          <xs:element minOccurs="0" name="provCertif" type="xs:string" />
          <xs:element minOccurs="0" name="hashTfd" type="xs:string" />
          <xs:element minOccurs="0" name="cadenaOriginalTfd" type="xs:string" />
          <xs:element minOccurs="0" name="complementos" type="xs:string" />
          <xs:element minOccurs="0" name="estructura" type="tns:singleResponse" />
          <xs:element minOccurs="0" name="selloCfdi" type="tns:singleResponse" />
          <xs:element minOccurs="0" name="csdEmisor" type="tns:singleResponse" />
          <xs:element minOccurs="0" name="validacionCfdi" type="tns:singleResponse" />
          <xs:element minOccurs="0" name="validacionComplementos" type="tns:singleResponse" />
          <xs:element minOccurs="0" name="validacionTimbreFiscal" type="tns:singleResponse" />
          <xs:element minOccurs="0" name="validacionSat" type="tns:singleResponse" />
          <xs:element minOccurs="0" name="acuseSat" type="tns:acuse" />
          <xs:element minOccurs="0" ref="ns1:Comprobante" />
          <xs:element minOccurs="0" ref="ns2:Retenciones" />
          <xs:element minOccurs="0" name="notificacion" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="singleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigo" type="xs:string" />
          <xs:element minOccurs="0" name="mensaje" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="acuse">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigoEstatus" type="xs:string" />
          <xs:element minOccurs="0" name="esCancelable" type="xs:string" />
          <xs:element minOccurs="0" name="estado" type="xs:string" />
          <xs:element minOccurs="0" name="estatusCancelacion" type="xs:string" />
          <xs:element minOccurs="0" name="validacionEFOS" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="timbrar">
        <xs:sequence>
          <xs:element name="usuario" type="xs:string" />
          <xs:element name="contrasena" type="xs:string" />
          <xs:element name="cfdi" type="xs:base64Binary" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="timbrarResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:responseTimbrar" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="responseTimbrar">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:responseTimbrarSingle">
            <xs:sequence>
              <xs:element minOccurs="0" name="codigoPdf" type="xs:string" />
              <xs:element minOccurs="0" name="pdf" type="xs:base64Binary" />
              <xs:element minOccurs="0" name="codigoMail" type="xs:string" />
              <xs:element minOccurs="0" name="codigoSms" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="responseTimbrarSingle">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigo" type="xs:string" />
          <xs:element minOccurs="0" name="mensaje" type="xs:string" />
          <xs:element minOccurs="0" name="timbre" type="xs:string" />
          <xs:element minOccurs="0" name="uuid" type="xs:string" />
          <xs:element minOccurs="0" name="hash" type="xs:string" />
          <xs:element minOccurs="0" name="transaccion" type="xs:string" />
          <xs:element minOccurs="0" name="notificacion" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="validarResponse">
    <wsdl:part name="parameters" element="tns:validarResponse" />
  </wsdl:message>
  <wsdl:message name="timbrarResponse">
    <wsdl:part name="parameters" element="tns:timbrarResponse" />
  </wsdl:message>
  <wsdl:message name="validar">
    <wsdl:part name="parameters" element="tns:validar" />
  </wsdl:message>
  <wsdl:message name="timbrar">
    <wsdl:part name="parameters" element="tns:timbrar" />
  </wsdl:message>
  <wsdl:portType name="TimbradoWSSoapSingle">
    <wsdl:operation name="validar">
      <wsdl:input name="validar" message="tns:validar" />
      <wsdl:output name="validarResponse" message="tns:validarResponse" />
    </wsdl:operation>
    <wsdl:operation name="timbrar">
      <wsdl:input name="timbrar" message="tns:timbrar" />
      <wsdl:output name="timbrarResponse" message="tns:timbrarResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TimbradoWSSoapSingleSoapBinding" type="tns:TimbradoWSSoapSingle">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validar">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="validar">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="validarResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="timbrar">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="timbrar">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="timbrarResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TimbradoWSSoapSingle">
    <wsdl:port name="TimbradoWSSoapSinglePort" binding="tns:TimbradoWSSoapSingleSoapBinding">
      <soap:address location="https://appliance-qa.expidetufactura.com.mx:8585/CoreTimbrado.test/TimbradoWSSoapSingle" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>